<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jee-using-initparam-registration</display-name>
  <welcome-file-list>
    <welcome-file>RegApp.jsp</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
  <servlet-name>appu</servlet-name>
  <servlet-class>com.xworkz.regapp.RegAppServlet</servlet-class>
  
  <init-param>
  <param-name></param-name>
  <param-value></param-value>
  </init-param>
  
  <load-on-startup>+1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>appu</servlet-name>
  <url-pattern>/regapp</url-pattern>
  </servlet-mapping>
  
  
</web-app>